h1 {
  text-align: center;
  padding-bottom: 2.5rem;
}

.clocksDisplayed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 1rem;
}

.clockBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.watch {
  background-color: darkblue;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.screen {
  text-align: center;
  padding: 4mm;
  border: 0.5mm solid darkolivegreen;
  width: 5rem;
  border-radius: 10%/20%;
}

.commonButtons {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
