/* styling the clocks */
.watch {
  background-color: darkblue;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.screen {
  background-color: darkslategray;
  color: white;
  text-align: center;
  padding: 4mm;
  border: 0.5mm solid darkolivegreen;
  width: 5rem;
  border-radius: 10%/20%;
}
